.list_container{
    display: block;
    
    font-size: var(--medium-font-size);

    margin-top: 5%;

    max-width: 90%;
    overflow: auto;
    text-align: center;
}

.blog_list{
    color: var(--green);

}