.nav_container{
    overflow-x: auto;
    min-width: 90%;
    margin: 20px auto 0 auto;
    max-width: 90%;
}

.navbar{
    display: flex;
    min-width: 100%;
    width: 100%;
    /* column-gap: 10px; */
    justify-content: space-evenly;
}

.navbar button{
    font-size: var(--small-font-size);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
    background-color: var(--brown);
    color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    min-width: 60px;
    max-height: 30%;

}

.selected{
    background-color: var(--beige) !important;
}