.nav_container{
    overflow-x: auto;
    min-width: 90%;
    margin: 20px auto 0 auto;
    max-width: 90%;
}

.navbar{
    display: flex;
    min-width: 100%;
    width: 100%;
    /* column-gap: 10px; */
    justify-content: space-evenly;
}

.navbar button{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
    background-color: #5e454b;
    color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    min-width: 60px;
    max-height: 50px;
    height: 35px;

}

.selected{
    background-color: #d8b384 !important;
}