.container{
    font-size: 20px;
    min-height: 80vh;
    min-width: 90vw;
    max-width: 95vw;
    
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: blue; */
    background-color: whitesmoke;

    row-gap: 20px;
}

.container img{
}

.text{
    max-width: 100%;
    background-color: blue;
}

.title{
    text-align: center;
    margin-bottom: -10px;
}