.push_button{
    /* color: black; */
    color: oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #3fab9b;
    border: none;
    min-width: 90%;
    min-height: 5vh;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}