.push_button{
    /* color: black; */
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: var(--green);
    border: none;
    min-width: 90%;
    min-height: 5vh;
    margin-top: 20px;
    font-size: var(--medium-font-size);
    text-transform: uppercase;
    letter-spacing: 2px;
}