.editor_container{
    margin: 20px auto;
    min-width: 90%;
    max-width: 90%;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    row-gap: 10px;

    color: black;

    margin-bottom: 5%;
}

.editor_container > input{
    min-width: 100%;
    max-width: 100%;
}

.header_container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    align-items: center;
    min-width: 100%;
}

.previewImage{
    max-width: 260px;
}

.image_upload_label{
    background-color: var(--green);
    font-size: var(--small-font-size);
    padding: 10px;
}

.image_upload_button{
    display: none;
}

.image_upload_button::selection{
    background: none;
}

.upload_name{
    color: black;
    max-width: 80%;
    font-size: var(--small-font-size);
}

.url_preview_input{
    color: black;
    min-width: 100%;
    background: none;
    border-width: 0 0 1px 0;
    border-style: solid;
    font-size: var(--medium-font-size);
    text-align: center;
}

.url_preview_input::placeholder{
    /* font-size: 20px; */
    text-align: center;
}

.url_preview_input:focus{
    background: whitesmoke;
}

.title_input{
    min-height: 50px;
    /* margin-bottom: 10px; */
    color: black;
    font-size: var(--medium-font-size);
    border-width: 0 0 1px 0;
    background: none;
    text-align: center;
}

.title_input::placeholder{
    text-align: center;
}

.title_input:focus{
    background: whitesmoke;
}

.blog_text_area{
    min-width: 100%;
    min-height: 50vh;
    max-height: 60vh;
    overflow-y: auto;
    color: black;
    padding: 10px;
    font-size: var(--small-font-size);
    background: none;
    resize: none;
}
.blog_text_area::placeholder{
    font-size: var(--medium-font-size);
    text-align: center;
}

.blog_text_area:focus{
    font-size: var(--small-font-size);
    background-color: whitesmoke;
}

.tags{
    color: black;
    background: none;
    border-width: 0 0 1px 0;
    font-size: var(--small-font-size);
    text-align: center;
}

.tags:focus{
    background-color: whitesmoke;
}
